install

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use graphical install
graphical

# Run the Setup Agent on first boot
firstboot --enable

#ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

reboot
# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.242.123 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --hostname=client2.hh.nku.edu

# Root password
rootpw --iscrypted $6$A4zGHabr6vv9vMG3$3RJ0keaxMtxFHxL/UPgD9bBKjmfZnD53aqtVNT9UWoiSnlB/pd0mDEJIYIhHeUIfiWmv17Ky5znR82F9f61gV.

# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr #--boot-drive=sda
# Partition clearing information
clearpart --all --initlabel #--drives=sda
# Disk partitioning information
part / --asprimary --fstype="xfs" --size=4000
part /var --fstype="xfs" --size=1024
part swap --asprimary --fstype="swap" --size=1024
part /home --fstype="xfs" --size=6000
part /boot --fstype="ext3" --size=250


#part pv.304 --fstype="lvmpv" --ondisk=sda --size=6152
#part /boot --fstype="ext3" --ondisk=sda --size=250
#volgroup centos --pesize=4096 pv.304
#logvol /  --fstype="xfs" --size=4096 --name=root --vgname=centos
#logvol swap  --fstype="swap" --size=1024 --name=swap --vgname=centos
#logvol /var  --fstype="xfs" --size=1024 --name=var --vgname=centos

%packages
@^minimal
@compat-libraries
@core
@development
@system-admin-tools
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
